<div class="panle-view">
    <div class="panle-view-cell">
        <div class="home-title">今日订单</div>
        <div class="home-value">33</div>
    </div>
    <div class="panle-view-cell">
        <div class="home-title">成交金额</div>
        <div class="home-value">98,78000元</div>
    </div>
    <div class="panle-view-cell">
        <div class="home-title">今日订单</div>
        <div class="home-value">33</div>
    </div>
</div>
<div class="home-tabular-view">
    <div class="ui tabular menu">
        <a class="active item">已发货</a>
        <a class="item">未处理</a>
    </div>
    <div class="home-tabular">

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('.ui.menu a.item').on('click', function() {
            $(this)
                    .addClass('active')
                    .siblings()
                    .removeClass('active');
        });
    });

</script>