<div class="ui small menu" style="margin-bottom: 0;">
    <a class="active item" href="/user/list">用户列表</a>
    <div class="right menu">
        <div class="ui action left icon input">
            <button class="ui small button" onclick="newData(); return false;">新增</button>
        </div>
    </div>
</div>

<table class="ui fixed selectable striped table very compact">
    <thead>
    <tr>
        <th class="left aligned three wide">编号</th>
        <th class="center aligned two wide">帐号</th>
        <th class="left aligned four wide">创建日期</th>
        <th class="left aligned two wide">状态</th>
        <th class="center aligned two wide">角色</th>
        <th class="center aligned two wide">操作</th>
    </tr>
    </thead>
    <tbody>
    <% if (data.datas.length == 0) { %>
    <td colspan="6" class="center aligned">暂无数据</td>
    <% } %>
    <% for (var i = 0; i < data.datas.length; i++) { %>
    <tr id="itemIndex<%= data.datas[i].id %>">
        <td class="left aligned" name="id">
            <%= data.datas[i].id %>
        </td>
        <td class="center aligned" name="headURL">
            <%= data.datas[i].account %>
        </td>
        <td class="left aligned" name="createDate">
            <%= data.datas[i].createDate %>
        </td>
        <td class="left aligned" name="status">
            <%= status[data.datas[i].status] %>
        </td>
        <td class="center aligned" name="name">
            <%= role[data.datas[i].role] %>
        </td>
        <td class="center aligned">
            <div class="ui small basic icon buttons">
                <button class="ui button" onclick="editData(<%= data.datas[i].id %>); return false;"><i class="edit icon"></i></button>
                <button class="ui button" onclick="removeData('<%= data.datas[i].account %>'); return false;"><i class="red remove icon"></i></button>
            </div>
        </td>
    </tr>
    <% } %>
    </tbody>
</table>
<div class="ui modal coupled small" id="editPanel">
    <div class="header">
        {{panelInfo.title}}
    </div>
    <form id="dataForm" class="ui form content" v-if="panelInfo.type != 2">
        <input type="hidden" v-model="data.id" :value="data.id" />
        <div class="field">
            <label>管理员账号</label>
            <input type="text" v-model="data.account" placeholder="输入姓名">
        </div>
        <div class="field" v-if="panelInfo.type == 0">
            <label>密码</label>
            <input type="password" v-model="data.password"  placeholder="输入密码" />
        </div>
        <div class="field">
            <label>管理员角色</label>
            <div class="field">
                <select class="ui fluid search dropdown" v-model="data.role">
                    <option value="">请选择角色</option>
                    <option value='0'>管理员</option>
                    <option value='1'>操作员</option>
                    <option value='2'>业务员</option>
                </select>
            </div>
        </div>
    </form>
    <div class="content" v-if="panelInfo.type == 2">
        <p>确定删除<b>{{deleteName}}</b>用户吗？</p>
    </div>
    <div class="actions">
        <div class="ui approve positive button">保存</div>
        <div class="ui button deny">取消</div>
    </div>
</div>
<script type="text/javascript" src="/static/md5.min.js"></script>
<script type="text/javascript">
    var blankValue = {id: '', account: '', password: '', role: ''};
    var editPanel = $('#editPanel');
    var vm = new Vue({
        el: '#editPanel',
        data: {
            panelInfo: {
                title: '',  //标题
                type: 0,    //类型 0: 新建模式 1: 编辑模式
                action: "?action=addUser"
            },
            data: blankValue
        },
        ready: function(){
            editPanel.modal({
                closable: false,
                onApprove : function() {
                    doSubmit();
                    return false;
                },
                onDeny: function(){
                    editPanel.form('reset');
                }
            });

            $("#dataForm").form({
                fields: {
                    userName: 'empty',
                    desc: 'empty'
                    // headURL: 'empty'
                }
            });
        },
        methods: {

        }
    });
    function doSubmit(){
        var panelInfo = vm.panelInfo;
        var params = vm.data;
        if(panelInfo.type == 0){
            delete params.id;
            for(var key in params){
                if(params[key] == null || params[key] == ''){
                    return false;
                }
            }
            params.password = md5(params.password);
            $.ajax({
                type: 'POST',
                data: params,
                url: panelInfo.action,
                success: function(data){
                    window.location.reload();
                },error: function(xhr, type){
                    console.log(xhr, type);
                }
            });
        }else if(vm.panelInfo.type == 1){
            $.ajax({
                type: 'POST',
                data: params,
                url: panelInfo.action,
                success: function(data){
                    window.location.reload();
                },error: function(xhr, type){
                    console.log(xhr, type);
                }
            });
        }
    }
    function newData(){
        var newValue = {};
        Object.assign(newValue, blankValue);
        vm.$set('panelInfo', {title: '新增', type: 0, action: "?action=addUser"});
        vm.$set('data', newValue);
        editPanel.modal('show');
    }

    function editData(id){
        $.ajax({
            type: 'GET',
            url: '?action=info&id='+ id,
            success: function(data){
                var editingData = data.response;
                vm.$set('data', editingData);
                vm.$set('panelInfo', {title: '编辑', type: 1, action: "?action=update"});
                editPanel.modal('reset');
                editPanel.modal('show');
            },error: function(xhr, type){
                console.log(xhr, type);
            }
        });
    }

    function removeData(account){
        var newValue = {};
        Object.assign(newValue, blankValue);
        vm.$set('panelInfo', {title: '删除', type: 2, action: "?action=remove"});
        vm.$set('deleteName', account);
        editPanel.modal('show');
    }

</script>