<div class="ui secondary menu" style="position: relative">
    <a class="item" onclick="history.go(-1)"><i class="icon chevron left"></i>返回</a>
    <div class="user-title">黄子韬</div>
    <div class="right menu">
        <a class="item active"><i class="icon edit"></i>编辑</a>
    </div>
</div>
<div class="ui tabular menu user-menu" style="margin-bottom: 0px;">
    <a class="item" href="/order/detail">基本信息</a>
    <a class="item active" href="/order/logistics">订单</a>
</div>
<div class="user-tabular">
    
</div>