<div class="ui small menu" style="margin-bottom: 0;">
    <a class="item" href="/config/fba">FBA仓库</a>
    <a class="item" href="/config/airTransport">空运费用</a>
    <a class="item" href="/config/driverCosts">提货拖车费用</a>
    <a class="item" href="/config/driver">提货司机</a>
    <a class="active item" href="/config/localWarehouse">本地仓库</a>
    <a class="item" href="/config/localCosts">本地费用</a>
    <a class="item" href="/config/goodsType">货品类型</a>
    <a class="item" href="/config/originatingAddress?type=1">起运地址</a>
    <a class="item" href="/config/destinationAddress?type=2">目的地址</a>
    <a class="item" href="/config/supplier">供应商</a>
    <div class="right menu">
        <div class="ui action left icon input">
            <button class="ui small button" onclick="newData(); return false;">新增</button>
        </div>
    </div>
</div>

<table class="ui fixed selectable striped table very compact">
    <thead>
    <tr>
        <th class="left aligned two wide">仓库编号</th>
        <th class="center aligned two wide">仓库名称</th>
        <th class="center aligned two wide">联系人</th>
        <th class="center aligned two wide">联系电话</th>
        <th class="center aligned two wide">供应商</th>
        <th class="center aligned four wide">地址</th>
        <th class="center aligned two wide">操作</th>
    </tr>
    </thead>
    <tbody>
    <% if (data.datas.length == 0) { %>
    <td colspan="7" class="center aligned">暂无数据</td>
    <% } %>
    <% for (var i = 0; i < data.datas.length; i++) { %>
    <tr>
        <td class="left aligned"><%= data.datas[i].warehouseID %></td>
        <td class="center aligned"><%= data.datas[i].name %></td>
        <td class="center aligned"><%= data.datas[i].contact %></td>
        <td class="center aligned"><%= data.datas[i].phone %></td>
        <td class="center aligned"><%= data.datas[i].supplierName %></td>
        <td class="center aligned"><%= data.datas[i].fullAddress %></td>
        <td class="center aligned">
            <div class="ui small basic icon buttons">
                <button class="ui button" onclick="editData(<%= data.datas[i].id %>); return false;"><i class="edit icon"></i></button>
                <button class="ui button" onclick="removeData(<%= data.datas[i].id %>); return false;"><i class="red remove icon"></i></button>
            </div>
        </td>
    </tr>
    <% } %>
    </tbody>
    <!--<tfoot>-->
    <!--<tr>-->
        <!--<th colspan="3">共 1/ 0页，共 0条，每页显示 20条-->
        <!--</th>-->
        <!--<th colspan="7">-->
            <!--<div class="ui right floated pagination menu">-->
                <!--<a class="icon item">-->
                    <!--<i class="left chevron icon"></i>-->
                <!--</a>-->
                <!--<a class="item active">1</a>-->
                <!--<a class="item">2</a>-->
                <!--<a class="item">3</a>-->
                <!--<a class="icon item">-->
                    <!--<i class="right chevron icon"></i>-->
                <!--</a>-->
            <!--</div>-->
        <!--</th>-->
    <!--</tr>-->
    <!--</tfoot>-->
</table>
<div class="ui modal coupled small" id="editPanel">
    <div class="header">
        {{panelInfo.title}}
    </div>
    <form id="dataForm" class="ui form content" v-if="panelInfo.type != 2">
        <input type="hidden" name="id" :value="data.id">
        <div class="field">
            <label>仓库名称</label>
            <input type="text" placeholder="输入仓库名称" v-model="data.name">
        </div>
        <div class="four fields">
            <div class="field">
                <label>地址</label>
                <div class="field">
                    <select class="ui fluid search dropdown" v-model="data.countryID">
                        <option value="100000">中国</option>
                    </select>
                </div>
            </div>
            <div class="field">
                <label>&nbsp;</label>
                <div class="field">
                    <select class="ui fluid search dropdown" v-model="data.provinceID" v-on:change="cityList()">
                        <option value="">请选择省份</option>
                        <option v-for="item in provinces" :value="item.ID">{{item.Name}}</option>
                    </select>
                </div>
            </div>
            <div class="field">
                <label>&nbsp;</label>
                <div class="field">
                    <select class="ui fluid search dropdown" v-model="data.cityID" v-on:change="townList()">
                        <option value="">请选择城市</option>
                        <option v-for="item in cities" :value="item.ID">{{item.Name}}</option>
                    </select>
                </div>
            </div>
            <div class="field">
                <label>&nbsp;</label>
                <div class="field">
                    <select class="ui fluid search dropdown" v-model="data.townID">
                        <option value="">请选择区/县</option>
                        <option v-for="item in towns" :value="item.ID">{{item.Name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="field">
            <input type="text" placeholder="输入详细地址" v-model="data.street">
        </div>
        <div class="two fields">
            <div class="field">
                <label>联系人</label>
                <input type="text" placeholder="输入联系人" v-model="data.contact"/>
            </div>
            <div class="field">
                <label>联系电话</label>
                <input type="tel" placeholder="输入联系人电话" maxlength="13" v-model="data.phone"/>
            </div>
        </div>
        <div class="field">
            <label>供应商</label>
            <div class="field">
                <select class="ui fluid search dropdown" v-model="data.supplier">
                    <option value="">请选择供应商</option>
                    <option v-for="item in suppliers.datas" :value="item.id">{{item.name}}</option>
                </select>
            </div>
        </div>
    </form>
    <div class="content" v-if="panelInfo.type == 2">
        <p>确定删除ID为<b>{{deleteAddressID}}</b>的地址吗？</p>
    </div>
    <div class="actions">
        <div class="ui approve positive button">保存</div>
        <div class="ui button deny">取消</div>
    </div>
</div>
<script type="text/javascript">
    var blankValue = {name: '', countryID: 100000, provinceID: '', cityID: '', townID: '', street: '', contact: '', phone: '', supplier: ''};
    var editPanel = $('#editPanel');
    var _isProvinces = [];
    var _isProvincesUpdate = true;
    var vm = new Vue({
        el: '#editPanel',
        data: {
            panelInfo: {
                title: '',  //标题
                type: 0,    //类型 0: 新建模式 1: 编辑模式
                action: "?action=addLocalWarehouse"
            },
            data: blankValue,
            provinces: [],
            cities: [],
            towns: [],
            suppliers: []
        },
        ready: function(){
            editPanel.modal({
                closable: false,
                onApprove : function() {
                    doSubmit();
                    return false;
                },
                onDeny: function(){
                    editPanel.form('reset');
                }
            });

            $("#dataForm").form({
                fields: {
                    name: 'empty',
                    desc: 'empty',
                    headURL: 'empty'
                }
            });
            this.provinceList();
            this.supplierList();
        },
        methods: {
            provinceList: function(){
                if(!_isProvincesUpdate){
                    this.provinces = _isProvinces;
                    return false;
                }
                var self = this;
                $.ajax({
                    type: 'GET',
                    url: '/config/address?action=province' ,
                    success: function(data){
                        self.provinces = data.response;
                        _isProvinceUpdate = false;
                        _isProvinces = data.response;
                    },error: function(xhr, type){
                        self.provinces = [];
                    }
                });
            },
            cityList: function(type){
                if(type != 1){
                    this.data.cityID = '';
                    this.data.townID = '';
                }
                var self = this;
                $.ajax({
                    type: 'GET',
                    url: '/config/address?action=city&provinceID=' + self.data.provinceID,
                    success: function(data){
                        self.cities = data.response;
                    },error: function(xhr, type){
                        self.cities = [];
                    }
                });
            },
            townList: function(type){
                if(type != 1){
                    this.data.townID = '';
                }
                var self = this;
                $.ajax({
                    type: 'GET',
                    url: '/config/address?action=town&cityID=' + self.data.cityID,
                    success: function(data){
                        self.towns = data.response;
                    },error: function(xhr, type){
                        self.towns = [];
                    }
                });
            },
            supplierList: function(){
                var self = this;
                $.ajax({
                    type: 'GET',
                    url: '/config/supplier?action=list',
                    success: function(data){
                        self.suppliers = data.response;
                    },error: function(xhr, type){
                        self.suppliers = [];
                    }
                });
            }
        }
    });

    function doSubmit(){
        var panelInfo = vm.panelInfo;
        var params = vm.data;
        console.log(params);
//        添加
        if(panelInfo.type == 0){
            delete params.id;
            for(var key in params){
                if(params[key] == null || params[key] == ''){
                    return false;
                }
            }
            $.ajax({
                type: 'POST',
                data: params,
                url: panelInfo.action,
                success: function(data){
                    window.location.reload();
                },error: function(xhr, type){
                    console.log(xhr, type);
                }
            });
//            编辑
        }else if(vm.panelInfo.type == 1){
            $.ajax({
                type: 'POST',
                data: params,
                url: panelInfo.action,
                success: function(data){
                    window.location.reload();
                },error: function(xhr, type){
                    console.log(xhr, type);
                }
            });
//            删除
        }else if(vm.panelInfo.type == 2){
            $.ajax({
                type: 'GET',
                url: panelInfo.action + '&id=' + vm.deleteAddressID,
                success: function(data){
                    window.location.reload();
                },error: function(xhr, type){
                    console.log(xhr, type);
                }
            });
        }
    }

    function newData(){
        var newValue = {};
        Object.assign(newValue, blankValue);
        vm.$set('panelInfo', {title: '新增', type: 0, action: "?action=addLocalWarehouse"});
        vm.$set('data', newValue);
        vm.$set('provinces', _isProvinces);
        editPanel.modal('show');
    }

    function editData(id){
        $.ajax({
            type: 'GET',
            url: '?action=info&id='+ id,
            success: function(data){
                var editingData = data.response;
                vm.$set('data', editingData);
                vm.$set('panelInfo', {title: '编辑', type: 1, action: "?action=update"});
                vm.$set('provinces', _isProvinces);
                vm.cityList(1);
                vm.townList(1);
                editPanel.modal('show');
            },error: function(xhr, type){
                console.log(xhr, type);
            }
        });
    }

    function removeData(id){
        var newValue = {};
        Object.assign(newValue, blankValue);
        vm.$set('panelInfo', {title: '删除', type: 2, action: "?action=deletedStartAddress"});
        vm.$set('deleteAddressID', id);
        editPanel.modal('show');
    }

</script>