<div class="ui small menu" style="margin-bottom: 0;">
    <a class="active item">客户列表</a>
    <div class="right menu">
        <form id="queryForm" class="item">
            <div class="ui action left icon input">
                <i class="search icon"></i>
                <input name="query" value="" style="width: 200px" type="text" placeholder="订单号,帐号,手机号...">
                <button class="ui small button">查询</button>
                <button class="ui small button" onclick="newData(); return false;">新增</button>
            </div>
        </form>
    </div>
</div>

<table class="ui fixed selectable striped table very compact">
    <thead>
        <tr>
            <th class="left aligned three wide">ID</th>
            <th class="left aligned two wide">头像</th>
            <th class="center aligned one wide">用户名</th>
            <th class="center aligned two wide">Email</th>
            <th class="center aligned two wide">手机</th>
            <th class="center aligned two wide">创建日期</th>
            <th class="center aligned two wide">状态</th>
            <th class="center aligned one wide">业务员</th>
            <th class="center aligned">操作</th>
        </tr>
    </thead>
    <tbody>
        <% if (data.datas.length == 0) { %>
            <td colspan="6" class="center aligned">暂无数据</td>
            <% } %>
                <% for (var i = 0; i < data.datas.length; i++) { %>
                <tr id="itemIndex<%= data.datas[i].id %>">
                    <td class="left aligned" name="id">
                        <%= data.datas[i].id %>
                    </td>
                    <td class="left aligned" name="headURL">
                        <img src="<%= data.datas[i].headURL %>">
                    </td>
                    <td class="center aligned" name="userName">
                        <%= data.datas[i].userName %>
                    </td>
                    <td class="center aligned" name="email">
                        <%= data.datas[i].email %>
                    </td>
                    <td class="lefcentert aligned" name="mobile">
                        <%= data.datas[i].mobile %>
                    </td>
                    <td class="center aligned" name="createDate">
                        <%= data.datas[i].createDate %>
                    </td>
                    <td class="center aligned" name="status">
                        <%= status[data.datas[i].status] %>
                    </td>
                    <td class="center aligned" name="salesmanID">
                        <%= data.datas[i].salesmanID %>
                    </td>
                    <td class="center aligned">
                        <div class="ui small basic icon buttons">
                            <button class="ui button" onclick="editData(<%= data.datas[i].id %>)"><i class="edit icon"></i></button>
                            <button class="ui button"><i class="info icon"></i></button>
                        </div>
                    </td>
                </tr>
                <% } %>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="2">
                共
                <%= data.page %>/
                    <%= data.pageCount %>页，共
                        <%= data.datas.length %>条，每页显示
                            <%= data.pageNumber %>条
            </th>
            <th colspan="7">
                <div class="ui right floated pagination menu">
                    <a class="icon item" onclick="previous(<%= data.page %>)">
                        <i class="left chevron icon"></i>
                    </a>
                    <%
                        var start = data.page - 5;
                        var end = data.page + 5;
                        start = start <= 0 ? 1 : start;
                        end = end > data.pageCount ? data.pageCount : end;
                        if (end == data.pageCount){
                            start = end - 10;
                            start = start <= 0 ? 1 : start;
                        }else if (start == 1){
                            end = 11;
                            end = end > data.pageCount ? data.pageCount : end;
                        }
                        for (var i = start; i <= end; i++){
                    %>
                        <a class="item <%= i == data.page ? 'active' : '' %>" onclick="goToPage(<%= i %>)">
                            <%= i %>
                        </a>
                        <%  } %>
                            <a class="icon item" onclick="next(<%= data.page %>, <%= data.pageCount %>)">
                                <i class="right chevron icon"></i>
                            </a>
                </div>
            </th>
        </tr>
    </tfoot>
</table>
<div class="ui modal coupled small" id="editPanel">
    <div class="header">
        {{panelInfo.title}}
    </div>
    <form id="dataForm" class="ui form content" method="post" :action="panelInfo.action">
        <input type="hidden" name="id" :value="data.id" />
        <input type="hidden" name="status" :value="1" />
        <div class="two fields">
            <div class="field">
                <label>客户姓名</label>
                <input type="text" name="userName" :value="data.userName" placeholder="输入姓名">
            </div>
            <div class="field">
                <label>Email</label>
                <input type="email" name="email" :value="data.email" placeholder="输入邮箱">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>手机号码</label>
                <input type="tel" name="mobile" :value="data.mobile" placeholder="输入手机号码" maxlength="11">
            </div>
            <div class="field">
                <label>密码</label>
                <input type="password" name="password" :value="data.password" placeholder="输入密码，不少于6位数">
            </div>
        </div>
        <div class="field">
            <label>业务员</label>
            <div class="field">
                <select class="ui fluid search dropdown" name="salesmanID">
                        <option value="0">Tony</option>
                        <option value="1">天骄</option>
                        <option value="2">曾哥哥</option>
                </select>
            </div>
        </div>
        <div class="field" id="container">
            <label>客户头像</label>
            <input name="headURL" type="hidden" value="http://activity.yiqiyuedu.cn/static/images/logo.png">
            <div class="field imageURL-field" id="imgURLContainer">
                <div class="ui card ">
                    <div class="image image-item">
                        <img :src="data.headURL || '/static/images/blank_image.jpg'">
                    </div>
                    <div class="ui bottom attached buttons">
                        <div id="imgURLSelectFile" class="ui button">选择文件</div>
                    </div>
                    <div class="ui bottom attached progress" data-percent="100" id="imgURLProgress">
                        <div class="bar" v-show="isUploading">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="actions">
        <div class="ui approve positive button">保存</div>
        <div class="ui button deny">取消</div>
    </div>
</div>
<script type="text/javascript" src="/static/library/plupload-2.1.2/js/plupload.full.min.js"></script>
<script type="application/javascript" src="/static/MKOUpload.js"></script>
<script type="text/javascript">
    var blankValue = {id: '', userName: '', email: '', mobile: '', password: 0, salesmanID: '', headURL: ''};
    var mkoUpload = null;
    var uploaderManager = new MKOUploaderManager();
    var editPanel = $('#editPanel');
    var vm = new Vue({
        el: '#editPanel',
        data: {
            panelInfo: {
                title: '',  //标题
                type: 0,    //类型 0: 新建模式 1: 编辑模式
                action: "?action=newData"
            },
            data: blankValue,
            isUploading: false
        },
        ready: function(){
            editPanel.modal({
                closable: false,
                onApprove : function() {
                    $('.ui.form').submit();
                    return false;
                },
                onDeny: function(){
                    editPanel.form('reset');
                    uploaderManager.cancelAll();
                }
            });

            $("#dataForm").form({
                fields: {
                    name: 'empty',
                    desc: 'empty'
                    // headURL: 'empty'
                }
            });

            var self = this;
            uploaderManager.newUploader({
                button: "imgURLSelectFile",
                container: "imgURLContainer",
                progressBar: "imgURLProgress",
                label: "imgURLSelectFile",
                context: 0,
                beforeCallback: function(context){
                    self.isUploading = true;
                },
                completedCallback: function(context, url){
                    self.isUploading = false;
                    self.data.headURL = url;
                }
            });
        },
        methods: {

        }
    });

    function newData(){
        var newValue = {};
        Object.assign(newValue, blankValue);
        vm.$set('panelInfo', {title: '新增', type: 0, action: "?action=addCustomer"});
        vm.$set('data', newValue);
        editPanel.modal('show');
    }

    function editData(id){
        $.ajax({
            type: 'GET',
            url: '?action=info&id='+ id,
            success: function(data){
                console.log(data);
                var editingData = data.desc;
                vm.$set('data', editingData);
                vm.$set('panelInfo', {title: '编辑', type: 1, action: "?action=update"});
                editPanel.modal('show');
            },error: function(xhr, type){
                console.log(xhr, type);
            }
        });
    }

</script>