<div class="ui secondary menu" style="position: relative;margin-bottom: 5px;">
    <a class="item" href="/customer/list"><i class="icon chevron left"></i>返回</a>
    <div class="user-title"><%= data.userName%></div>
</div>
<div class="ui small menu" style="margin: 0;">
    <a class="item active" href="/customer/detail?id=<%= data.id%>">基本信息</a>
    <a class="item" href="/customer/order?id=<%= data.id%>">订单</a>
    <div class="right menu"></div>
    <div class="right menu">
        <form id="queryForm" class="item">
            <div class="ui action left icon input">
                <button class="ui small button"><%= status[data.status] %></button>
            </div>
        </form>
    </div>
</div>
<!--SELECT `id`, `userName`, `headURL`, `email`, `mobile`, `company`, `phone`, `createDate`, `loginTime`, `status`, `salesmanID` FROM YSGJ_Users WHERE `id` = ?';-->
<div class="user-tabular">
    <img class="user-header-image image" src="<%= data.headURL %>">
    <div class="user-conent">
        <span>用户名：</span><span><%= data.userName%></span>
    </div>
    <div class="user-conent">
        <span>Email：</span><span><%= data.email%></span>
    </div>
    <div class="user-conent">
        <span>手机号码：</span><span><%= data.mobile%></span>
    </div>
    <div class="user-conent">
        <span>公司名称：</span><span>暂无</span>
    </div>
    <div class="user-conent">
        <span>公司电话：</span><span>暂无</span>
    </div>
    <div class="user-conent">
        <span>公司地址：</span><span>暂无</span>
    </div>
    <div class="user-conent">
        <span>邮政编码：</span><span>暂无</span>
    </div>
    <div class="ui divider"></div>
    <div class="user-conent">
        <span>创建时间：</span><span><%= data.createDate%></span>
    </div>
    <div class="user-conent">
        <span>最后登录时间：</span><span>暂无</span>
    </div>
    <div class="ui divider"></div>
    <div class="user-conent">
        <div class="user-address">常用地址：</div>
        <ul class="user-address-view">
            <li>暂无</li>
        </ul>
    </div>
    <div class="user-conent">
        <span>业务员：</span><span><%= data.name%></span>
    </div>
</div>
